.footer {
  background-color: #294159;
  color: white;
  padding: 100px;
  font-family: sans-serif;
  background-image: url(../../img/footer\ img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.footer__section {
  flex: 1 1 200px;
  min-width: 250px;
}

.footer__title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}

.footer__item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 10px;
}


.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list li {
  margin-bottom: 12px;
  cursor: pointer;
  transition: 0.3s;
  color: #FFFFFFB2;
}

.footer__list li:hover {
  text-decoration: underline;
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__input,
.footer__textarea {
  padding: 10px;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
  font-size: 14px;
  outline: none;
}

.footer__input::placeholder,
.footer__textarea::placeholder {
  color: #ccc;
}

.footer__button {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: fit-content;
  transition: background 0.3s;
}

.footer__button:hover {
  background-color: #ddd;
}

.footer-span {
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFFB2;
}