.header {
    box-shadow: 0px 0px 0px 5px rgb(0, 0, 0);
}

.header__inner {
    padding: 20px;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top-about {
    display: flex;
    align-items: center;
    gap: 70px;
}

.bi-telephone-fill {}

.bi-envelope-fill {}

.bi-geo-alt-fill {}

.header__top-nets {
    display: flex;
    align-items: center;
    gap: 30px;
}

.bi-telegram {
    font-size: 20px;
}

.bi-facebook {
    font-size: 20px;
}

.bi-instagram {
    font-size: 20px;
}

.bi-youtube {
    font-size: 20px;
}

//-------------------------------------- BOTTOM ------------------------------------//

.header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.header__main-color {
     background-color: #04435E;
}

.header__logo-link {}

.header__logo {}

.header__list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__item {}

.header__item-link {
    color: #fff;
}

.header__btn-switch {
    padding: 10px 15px;
    background-color: #ffffff3e;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
}